*{/* CSS document */
  	box-sizing: border-box;
        font-family: Impact, fantasy, arial;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
        margin: 0;
        padding: 0;
}

body {
        background-image: url('../Images/img1.jpg');
}

.logo{
    align-items: center;
    display: flex;
    font-size: 38px;
    margin-top: 70px;
    margin-left: 70px;
}
.login {
        width: 400px;
  	background-color:transparent;
        color: #FFF;
  	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  	margin: 50px auto;
}
.login h1 {
        font-family: arial;
  	text-align: center;
  	font-size: 24px;
  	padding: 20px 0 20px 0;
  	border-bottom: 1px solid #dee0e4;
}
.login form {
        font-family: arial;
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	padding-top: 40px;
}
.login form label {
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	width: 50px;
  	height: 50px;
  	background-color:#000000;
  	color: #ffffff;
}
.login form input[type="Senha"], .login form input[type="text"] {
  	font-family: arial;
        width: 310px;
  	height: 50px;
  	border: 1px solid #dee0e4;
  	margin-bottom: 20px;
  	padding: 0 15px;
}
.login form input[type="submit"] {
  	font-family: arial;
        font-size: 15px;
        width: 100%;
  	padding: 15px;
 	margin-top: 20px;
  	background-color: #000000;
  	border: 0;
  	cursor: pointer;
  	font-weight: bold;
  	color: #FFF;
  	transition: background-color 0.9s;
}
.login form input[type="submit"]:hover {
	background-color: #f5d47a;
        color: #2e2c28;
  	transition: background-color 0.9s;
}